# locateed in /lib/systemd/system/
[Unit]
Description=EPICS IOC Modbus Server via procserv - N1NCAL-RDATA
Requires=network.target
After=syslog.target network.target
ConditionFileIsExecutable=/usr/bin/procServ
#ConditionFileIsExecutable=/cvs/cds/caltech/target/<HOSTNAME>/<HOSTNAME>.cmd
ConditionFileIsExecutable=/home/controls/Documents/ncal_wheel_ctrl/ncalioc/iocBoot/iocncal_rdata/st.cmd

[Service]
User=controls
Group=controls
#WorkingDirectory=/cvs/cds/caltech/target/<HOSTNAME>
WorkingDirectory=/home/controls/Documents/ncal_wheel_ctrl/ncalioc/iocBoot/iocncal_rdata

# Set environment variables for EPICS
#EnvironmentFile=/cvs/cds/caltech/target/<HOSTNAME>/<HOSTNAME>.env

# First line enables logging to local file for debugging. The logfile tends to grow large when there are problems. Use second line for normal operation.
#ExecStart=/usr/bin/procServ -f -L /cvs/cds/caltech/target/<HOSTNAME>/modbusIOC.log -p /run/modbusioc.pid 8008 /opt/epics/modules/modbus/bin/linux-x86_64/modbusApp /cvs/cds/caltech/target/<HOSTNAME>/<HOSTNAME>.cmd
#ExecStart=/usr/bin/procServ -f -p /run/modbusioc.pid 8008 /opt/epics/modules/modbus/bin/linux-x86_64/modbusApp /cvs/cds/caltech/target/<HOSTNAME>/<HOSTNAME>.cmd
ExecStart=/usr/bin/procServ -f -p /run/ioc-ncal_rdata.pid 8008 /home/controls/Documents/ncal_wheel_ctrl/ncalioc/iocBoot/iocncal_rdata/st.cmd

Restart=always
RestartSec=30
KillMode=process

[Install]
WantedBy=multi-user.target
